<article class="post">
<p class="date">{{ .Date.Format "January 2, 2006" }}</p>
<h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
{{ with .Params.river | default .Params.where }}{{ $r := . }}{{ with resources.Get (printf "maps/%s.svg" (. | urlize)) }}<figure class="map"><div class="doodle" aria-hidden="true">{{ .Content | safeHTML }}</div><figcaption><span class="ftitle">{{ $r }}</span>{{ with index site.Data.rivers ($r | urlize) }}<p>{{ .about }}</p>{{ end }}</figcaption></figure>{{ end }}{{ end }}
{{ if eq .Section "trips" }}{{ partial "trip.html" . }}{{ end }}
<div class="body">{{ .Content }}</div>
<p class="meta"># by {{ site.Params.author }} | {{ .Date.Format "2006-01-02 15:04" }}{{ range .GetTerms "categories" }} | <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}{{ if eq .Section "trips" }} | <a href="{{ .Parent.RelPermalink }}">trips</a>{{ end }}</p>
</article>
