<aside class="side">
{{ with resources.Get "img/profile.jpg" }}<img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ site.Params.author }}">{{ end }}
{{ $tabs := .tabs }}
<ul class="plain nav"><li><a href="{{ (site.GetPage "posts").RelPermalink }}">all</a></li>{{ range $i, $t := $tabs }}<li data-tab="{{ $i }}" style="--hue: {{ $t.hue }}"{{ if $t.on }} class="on"{{ end }}>{{ if $t.subs }}<details{{ if $t.on }} open{{ end }}><summary>{{ $t.title }}{{ with $t.n }} <span class="mute">{{ . }}</span>{{ end }}</summary><ul class="plain nest">{{ with $t.url }}<li><a href="{{ . }}">all {{ $t.title }}</a></li>{{ end }}{{ range $j, $s := $t.subs }}{{ partial "navitem.html" (dict "item" $s "j" $j "l" (math.Max 28 (sub 62 (mul $j 8)))) }}{{ end }}</ul></details>{{ else }}<a href="{{ $t.url }}">{{ $t.title }}</a>{{ with $t.n }} <span class="mute">{{ . }}</span>{{ end }}{{ end }}</li>{{ end }}</ul>
{{ partial "garden.html" (dict "tabs" $tabs) }}
</aside>
