{{ define "main" }}
<h1 class="listtitle">{{ .Title }}</h1>
{{ with index site.Data.species (.Title | urlize) }}{{ with .latin }}<p class="latin">{{ . }}</p>{{ end }}{{ end }}
{{ $own := resources.Get (printf "maps/%s.svg" (.Title | urlize)) }}
{{ with $own }}{{ partial "map.html" $.Title }}{{ end }}
{{ $key := .Data.Term | urlize }}
{{ range .Pages.ByDate.Reverse }}{{ $p := . }}{{ range .Params.groups }}{{ with .water }}{{ if and (not $own) (in (slice (partial "watergroup.html" .) "water" (urlize .)) $key) }}{{ partial "map.html" (dict "water" . "link" $p.RelPermalink "page" $p "from" true) }}
{{ end }}{{ end }}{{ range .cards }}{{ if in (partial "cardtags.html" .) $key }}{{ partial "cardany.html" (dict "card" . "page" $p "link" $p.RelPermalink "from" true) }}
{{ end }}{{ end }}{{ end }}{{ end }}
{{ end }}
